html {
	height: 100%;
}
body {
	height: 100vh;
	.wrap.container-fluid {
		height: 100%;
		.content.row {
			height: 100%;
			.main {
				min-height: 100%;
				overflow: hidden;
			}
		}
	}
	/*&.home {
		overflow-y: hidden;
	}*/
}

h1, h2, h3, h4, h5, p, a {
	color: #333;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

p {

}

a {
	&:focus, &:active, &:hover {
		outline: 0;
	}
	&:hover {
		color: #333;
		text-decoration: none;
	}
}