header {
	background-color: #efefef;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
	.brand {
		color: #333;
		display: inline-block;
    float: left;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
	}
	.nav-primary {
		display: inline-block;
		float: right;
		.menu-primary-container {
			.nav{
				.menu-item {
					display: inline-block;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.mobile-header {
		.nav-mobile {
			display: inline-block;
			float: right;
			.menu-toggle {
				cursor: pointer;
				padding: 10px 15px;
			}
			.menu-primary-container {
				background-color: #efefef;
				height: 0;
				opacity: 0;
				padding: 0 15px;
				position: absolute;
				right: 0;
				transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
				width: 136.25px;
				z-index: 1;
				.menu {
					height: 0;
					padding-left: 0;
					transition: height 0.3s ease-in-out;
					.menu-item {
						height: 0;
						list-style: none;
				    padding: 0 15px;
				    text-align: right;
				    transition: height 0.3s ease-in-out, padding-bottom 0.3s ease-in-out, padding-top 0.3s ease-in-out;
					}
				}
				&.open {
					height: 170px;
					opacity: 1;
					transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
					.menu {
						height: 170px;
						transition: height 0.3s ease-in-out;
						.menu-item {
							height: 40px;
							padding: 10px 15px;
							transition: height 0.3s ease-in-out, padding-bottom 0.3s ease-in-out, padding-top 0.3s ease-in-out;
						}
					}
				}
			}
		}
	}
}