header {
	background-color: #fff;
	padding-top: 20px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
    .logo {
    	height: 125px;
    }
	.nav-primary {
		display: block;
		.menu-primary-container {
			.nav{
				.menu-item {
					display: inline-block;
					line-height: 46px;
					a {
						font-family: 'Montserrat', sans-serif;
					    font-weight: 400;
					    font-style: normal;
					    font-size: 16px;
					    letter-spacing: 1px;
						text-transform: uppercase;
						transition: color 0.3s ease-in-out;
					}
					&:hover {
						a {
							color: #999;
							transition: color 0.3s ease-in-out;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.mobile-header {
		padding-bottom: 20px;
		.nav-mobile {
			position: absolute;
			top: 0;
			right: 0;
			.menu-toggle {
				cursor: pointer;
				padding: 10px 15px;
			}
			.menu-primary-container {
				background-color: #efefef;
				height: 0;
				opacity: 0;
				padding: 0 15px;
				position: absolute;
				right: 0;
				transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
				width: 136.25px;
				z-index: 1;
				.menu {
					height: 0;
					padding-left: 0;
					transition: height 0.3s ease-in-out;
					.menu-item {
						height: 0;
						list-style: none;
					    padding: 0 15px;
					    text-align: right;
					    transition: height 0.3s ease-in-out, padding-bottom 0.3s ease-in-out, padding-top 0.3s ease-in-out;
					    a {
					    	font-family: 'Montserrat', sans-serif;
						    font-weight: 400;
						    font-style: normal;
						    letter-spacing: 1px;
							text-transform: uppercase;
					    }
					}
				}
				&.open {
					height: 170px;
					opacity: 1;
					transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
					.menu {
						height: 170px;
						transition: height 0.3s ease-in-out;
						.menu-item {
							height: 40px;
							padding: 10px 15px;
							transition: height 0.3s ease-in-out, padding-bottom 0.3s ease-in-out, padding-top 0.3s ease-in-out;
						}
					}
				}
			}
		}
	}
}