.no-pad {
	padding: 0;
}

@mixin aspect-ratio($width, $height) {

}

.tile-row {
	.tile-wrapper {
		height: 41.66666667vw;
		position: absolute;
	    top: calc(50% + 20px);
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		.tile {
			transition: background-color 0.3s ease-in-out;
			&.one {
				background-color: #efefef;
				height: 70%;
			}
			&.two {
				background-color: #bfbfbf;
				height: 40%;
			}
			&.three {
				background-color: #8f8f8f;
				height: 30%;
			}
			&.four {
				background-color: #5f5f5f;
				height: 60%;
				top: -30%;
			}
		}
	}
}

@media (max-width: 767px) {
	.tile-row {
		.tile-wrapper {
			height: 100%;
			top: 30px;
			transform: translateY(0%);
			.tile {
				&.one, &.two, &.three, &.four {
					height: 60%;
				}
				&.four {
					top: 0;
				}
			}
		}
	}
}