.no-pad {
	padding: 0;
}

@mixin aspect-ratio($width, $height) {

}

.tile-row {
	.tile-wrapper {
		height: 41.66666667vw;
	    margin-bottom: 40px;
	    margin-top: 40px;
		position: absolute;
	    top: calc(50% + 20px);
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		.tile {
			background-position: 50%;
			background-size: cover;
		    border: 1px #efefef solid;
			transition: opacity 0.15s ease-in-out;
			&.one {
				height: 70%;
			}
			&.two {
				height: 40%;
			}
			&.three {
				height: 30%;
			}
			&.four {
				height: 60%;
				top: -30%;
			}
		}
	}
}

@media (max-width: 767px) {
	.tile-row {
		.tile-wrapper {
			height: 100%;
			top: 30px;
			transform: translateY(0%);
			.tile {
				&.one, &.two, &.three, &.four {
					height: 80vh;
				}
			}
		}
	}
}