.no-pad {
	padding: 0;
}

@mixin aspect-ratio($width, $height) {

}

.tile-row {
	.tile-wrapper {
		height: 41.66666667vw;
		margin: 0 29.1666666667%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		.tile {
			height: 50%;
			&.one {
				background-color: #efefef;
				&:after {
					background-color: #000;
					content: '';
					display: block;
					height: 31vw;
					position: absolute;
					right: 0;
					width: 1px;
				}
				&:before {
					background-color: #000;
					bottom: 0;
					content: '';
					display: block;
					height: 1px;
					position: absolute;
					right: 0;
					width: 31vw;
				}
			}
			&.two {
				background-color: #bfbfbf;
				&:after {
					background-color: #000;
					content: '';
					display: block;
					height: 31vw;
					position: absolute;
					right: 0;
					width: 1px;
				}
				&:before {
					background-color: #000;
					bottom: 0;
					content: '';
					display: block;
					height: 1px;
					position: absolute;
					right: 0;
					width: 31vw;
				}
			}
			&.three {
				background-color: #8f8f8f;
				&:after {
					background-color: #000;
					content: '';
					display: block;
					height: 31vw;
					position: absolute;
					right: 0;
					width: 1px;
				}
				&:before {
					background-color: #000;
					bottom: 0;
					content: '';
					display: block;
					height: 1px;
					position: absolute;
					right: 0;
					width: 31vw;
				}
			}
			&.four {
				background-color: #5f5f5f;
				&:after {
					background-color: #000;
					content: '';
					display: block;
					height: 31vw;
					position: absolute;
					right: 0;
					width: 1px;
				}
				&:before {
					background-color: #000;
					bottom: 0;
					content: '';
					display: block;
					height: 1px;
					position: absolute;
					right: 0;
					width: 31vw;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.tile-row {
		.tile-wrapper {
			.tile {
				border: 1px black dashed;
				height: 100%;
			}
		}
	}
}