.photo-grid {
	overflow: hidden;
	padding-bottom: 50px;
	padding-top: 40px;
	position: relative;
	top: 40px;
	.photo-wrapper {
		height: 33.3333vw;
		padding: 7.5px;
		@media (max-width: 1199px) {
			height: 44.4444vw;
		}
		@media (max-width: 991px) {
			height: 66.6666vw;
		}
		@media (max-width: 767px) {
			height: 133.3333vw;
		}
		.zoombox {
			cursor: pointer;
			height: 100%;
			overflow: hidden;
			position: relative;
			width: 100%;
			.photo {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: bottom;
				height: 100%;
				transform: scale(0);
				transition: transform 0.6s ease-in-out;
				width: 100%;
				&.loaded {
					transform: scale(1);
					transition: transform 0.6s ease-in-out;
				}
			}
			.overlay {
				background-color: rgba(0,0,0,0);
				height: 100%;
				position: absolute;
				top: 0;
				transition: background-color 0.3s ease-in-out;
				width: 100%;
				z-index: 1;
			}
			&:hover {
				.photo {
					&.loaded {
						transform: scale(1.05);
						transition: transform 0.9s ease-in-out;
					}
				}
				.overlay {
					background-color: rgba(0,0,0,0.2);
					transition: background-color 0.3s ease-in-out;
				}
			}
		}
	}
}